@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&dispaly=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: rgb(2, 238, 255);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid var(--main-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}
.navbar a:hover,
.navbar a#active {
  color: var(--main-color);
}

#menu-icon {
  color: var(--text-color);
  font-size: 3.6rem;
  display: none;
}
#nav-resume-dowload-icon {
  color: var(--bg-color);
  font-size: 1.5rem;
}
.resume {
  padding: 0.7rem 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 3px;
}

#resume {
  color: var(--bg-color);
}

/* section part is here */
#home {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.home-content {
  /* border: 3px solid blue; */
  width: 70%;
}
.home-content h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
}
.home .home-image {
  width: 30%;
  /* border: 2px solid red; */
}
.home-image img {
  width: 35vh;
}
.home .home-image img {
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-bottom: 2rem solid var(--main-color);
}
.home .home-image:hover {
  border-right: none;
  border-left: none;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  box-shadow: 0 0 2rem var(--main-color);
  transition: 0.3s ease;
}

.home-content p {
  font-size: 1.4rem;
}
/* social media part is here */
.social-media {
  /* border: 2px solid rgb(3, 42, 3); */
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a :hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.download-btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.2rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.download-btn:hover {
  box-shadow: none;
}

#about {
  /* border: 2px solid blue; */
  /* display: flex; */
  justify-content: center;
  background-color: var(--second-bg-color);
  padding-bottom: 3rem;
}

.about-content {
  width: 60%;
  align-items: center;
  /* border: 2px solid red; */
  margin: auto;
}
.about-content h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.about-heading {
  font-size: 4rem;
  text-align: center;
}
.about-content p {
  line-height: 1.5;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.about-content p:nth-of-type(1) {
  /* border-bottom: 1px solid var(--main-color); */
  margin-bottom: 1rem;
}

/* 1200+ hours of coding 400+ hours of dsa section style */
#skills-hours-section-parent {
  margin: auto;
  /* border: 3px solid yellow; */
  margin-top: 2.8rem;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 2rem;
}

#skills-hours-section-parent > div {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 8px 8px 8px 8px;
  color: var(--main-color);
  padding: 5px;
  height: 6rem;
}
#skills-hours-section-parent > div p {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 650;
}
#skills-hours-section-parent > div:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

/* <><><><><><><><><><><><><><><> */
/* Skills Section starts here */
/* <><><><><><><><><><><><><><><> */
#heading-my-skills {
  /* border: 2px solid red; */
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin: 4rem 0rem 2rem 0rem;
}

.skills-container-card-parent {
  background-color: var(--bg-color);
  /* border: 2px solid red; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: auto;
}
.skills-container-card-parent .skills-card {
  /* border: 2px solid blue; */
  height: 20rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(var(--bg-color) 20%, var(--second-bg-color));
  border-radius: 0.5rem 0.5rem;
}
.skills-container-card-parent .skills-card:hover {
  background: linear-gradient(--main-color);
  /* border: 0.1px var(--second-bg-color) solid; */
  box-shadow: 0 0 2rem var(--second-bg-color);
}
.skills-container-card-parent .skills-card-img {
  width: 100%;
  /* border: 2px solid yellow; */
}

.skills-container-card-parent .skills-card-name {
  /* border: 2px solid rgb(239, 0, 0); */
  margin-top: 2rem;
  font-size: 1.7rem;
}

.skills-container-card-parent .skills-card-img img {
  width: 70%;
}

/* <><><><><><><><><><><><><><><><><><><><> */
/* project part is here */
#project-heading {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  margin: 4rem 0 0 2rem;
}

#projects {
  width: 80%;
  margin: auto;
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
#projects .project-card {
  /* border: 2px solid red; */
  padding: 1rem;
  border: 1px var(--second-bg-color) solid;
  border-radius: 0.4rem;
}
#projects .project-card:hover {
  box-shadow: 0 0 2rem var(--second-bg-color);
}

.project-img {
  width: 100%;
  height: 20rem;
  /* border: 2px solid firebrick; */
}
.project-img img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.project-img:hover img {
  transform: scale(1.06);
}
.project-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}
.project-links {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  margin: 2rem 0 0 0;
}
.project-links a {
  color: var(--main-color);
}

.project-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0.5rem 0;
}
.project-tech-stack {
  font-weight: 500;
  font-size: 1.3rem;
}

/* <><><><><><><><><><><><> */
/* Contact part is here */
#contact-heading {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

#contact {
  margin: auto;
  width: 70%;
  /* border: 2px solid red; */
  display: flex;
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: var(--second-bg-color);
  border-radius: 0.7rem;
}
#contact > div {
  width: 50%;
  /* border: 2px solid blue; */
}
#contact-details > div > div {
  display: flex;
  align-items: center;
  margin: 2rem 0 2rem 0;
}
#contact-details > div > div > div:nth-child(1) {
  margin-right: 1rem;
  margin-left: 1rem;
}
.contact-details-wrapper {
  width: 60%;
  /* border: 2px solid yellow; */
  /* background-color: var(--bg-color); */
  color: bisque;
  margin: auto;
}
.contact-details-wrapper a {
  color: bisque;
}
.form-wrapper {
  width: 70%;
  /* border: 2px solid yellow; */
  background-color: var(--bg-color);
  margin: 0 0 0 4rem;
  padding: 2rem;
}
.form-wrapper > div {
  /* border: 1px solid red; */
  margin-bottom: 1rem;
}
.form-wrapper > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  background-color: white;
  /* width: 20%; */
  border-radius: 0.3rem;
  /* border: 3px solid blue; */
}
.form-wrapper > div > div:nth-child(2) input {
  padding: 0.5rem;
  font-weight: 500;
  width: 100%;
}
.form-wrapper > div > div:nth-child(2) i {
  color: black;
  padding: 5px;
}
textarea {
  padding: 5px;
  font-weight: 500;
  width: 100%;
  border-radius: 0.3rem;
}
#submit-button {
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 70%;
  height: 1%;
}
#submit-button:hover {
  background-color: bisque;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* github part starts here */

.react-activity-calendar {
  width: 80%;
  margin: auto;
  margin-top: 4rem;
  /* border: 2px solid red; */
}
.calendar {
  border: 5px solid red;
  width: 100%;
  border: none;
  margin: "auto";
  /* min-height: auto; */

  min-height: unset !important;
}
.react-activity-calendar .title {
  font-size: 4rem;
  margin-top: 2rem;
  text-align: center;
}

.github-cards {
  /* border: 2px solid blue; */
  display: flex;

  justify-content: space-around;
  padding: 0.5rem;
}
.github-images {
  width: 50%;

  /* border: 2px solid red; */
}
.github-images > img {
  width: 100%;
}

/* <><><><><><><><><><><><> */
/* Breakpoints */

@media (max-width: 1200px) {
  .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2rem;
  }
  #home {
    min-height: 100vh;
    padding: 5rem 9% 2rem;
  }
}

@media (max-width: 1050px) {
  #home {
    min-height: 85vh;
    /* padding: 5rem 9% 2rem; */
  }
}
@media (max-width: 991px) {
  #nav-menu {
    padding: 1.5rem 3%;
  }
  .navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 2rem;
  }
  #home {
    min-height: 80vh;
    /* padding: 5rem 9% 2rem; */
  }

  .home-content h3 {
    font-size: 2.5rem;
    font-weight: 650;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 0.2rem;
  }

  .home-content h1 {
    font-size: 4rem;
    font-weight: 650;
  }

  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 2px solid red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: auto;
  }

  #contact {
    margin: auto;
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--second-bg-color);
    border-radius: 0.7rem;
    align-items: center;
  }
  #contact > div {
    width: 60%;
    /* border: 2px solid blue; */
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  #nav-menu {
    padding: 1.5rem 3%;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 1.5rem 0;
    user-select: none;
  }
  .navbar#active {
    display: block;
  }
  #about {
    /* border: 2px solid blue; */
    width: 100%;
    justify-content: center;
    background-color: var(--second-bg-color);
    padding-bottom: 3rem;
    margin: auto;
  }
  .about-content {
    width: 90%;
    align-items: center;
    /* border: 2px solid red; */
    /* margin: auto; */
  }
  #projects {
    width: 80%;
    margin: auto;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #projects .project-card {
    /* border: 2px solid deeppink; */
    padding: 1rem;
    border: 1px var(--second-bg-color) solid;
    border-radius: 0.4rem;
  }
  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 2px solid red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: auto;
  }
  #skills-hours-section-parent {
    margin: auto;
    /* border: 3px solid yellow; */
    margin-top: 2.8rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
  }

  #skills-hours-section-parent > div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 8px 8px 8px 8px;
    color: var(--main-color);
    padding: 5px;
    height: 6rem;
  }
  #skills-hours-section-parent > div p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 650;
  }
  .skills-card {
    max-height: 170px;
  }
  .github-cards {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    align-items: center;
  }
  .github-cards .github-images {
    width: 95%;
  }
  #contact {
    margin: auto;
    width: 80%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: var(--second-bg-color);
    border-radius: 0.7rem;
    align-items: center;
  }
  #contact > div {
    width: 80%;
    /* border: 2px solid blue; */
  }
}

@media (max-width: 650px) {
  #home {
    min-height: 70vh;
    /* padding: 5rem 9% 2rem; */
  }
  .home-content h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 0.2rem;
  }

  .home-content h1 {
    font-size: 3rem;
    font-weight: 650;
  }
  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 2px solid red; */
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: auto;
  }
  .skills-card {
    max-height: 140px;
  }
  #skills-hours-section-parent {
    margin: auto;
    /* border: 3px solid yellow; */
    margin-top: 2.8rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
  }

  #skills-hours-section-parent > div {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 8px 8px 8px 8px;
    color: var(--main-color);
    padding: 5px;
    height: 6rem;
  }
  #skills-hours-section-parent > div p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 650;
  }
}

@media (max-width: 575px) {
  #home {
    min-height: 67vh;
    /* padding: 5rem 9% 2rem; */
  }
  .home-content h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 0.2rem;
  }

  .home-content h1 {
    font-size: 2.8rem;
    font-weight: 650;
  }
}

@media (max-width: 535px) {
  #home {
    min-height: 60vh;
    /* padding: 5rem 9% 2rem; */
  }
  .home-content h3 {
    font-size: 1.6rem;
    font-weight: 580;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 0.15rem;
  }

  .home-content h1 {
    font-size: 2.4rem;
    font-weight: 650;
  }
}
@media (max-width: 500px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 8.5rem;
  }
  .home-content {
    margin-top: 3rem;
    text-align: center;
  }
  .home-content h3 {
    font-size: 2rem;
    font-weight: 700;
  }
  .home-content h3:nth-of-type(2) {
    margin-bottom: 0.15rem;
  }

  .home-content h1 {
    font-size: 3rem;
    font-weight: 650;
  }
  #home > div {
    width: 90%;
    /* border: 2px solid blue; */
  }
  #about {
    /* border: 2px solid blue; */
    width: 100%;
    justify-content: center;
    background-color: var(--second-bg-color);
    padding-bottom: 3rem;
    margin: auto;
  }
  .about-content {
    /* border: 2px solid red; */
  }
  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 2px solid red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: auto;
  }
  .skills-card {
    max-height: 160px;
  }
  #projects {
    width: 90%;
    margin: auto;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #contact {
    margin: auto;
    width: 90%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #contact > div {
    width: 100%;
    font-size: 2rem;
  }
  .contact-details-wrapper {
    width: 80%;
    margin: auto;
  }

  .contact-form {
    width: 100%;
  }
  .form-wrapper {
    width: 100%;
    margin: auto;
    margin-left: 0rem;
  }
}

@media (max-width: 460px) {
  #projects {
    width: 97%;
    margin: auto;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  #projects .project-card {
    border: 2px solid deeppink;
    padding: 1rem;
    border: 1px var(--second-bg-color) solid;
    border-radius: 0.4rem;
  }
}

@media (max-width: 380px) {
  #projects {
    width: 90%;
    margin: auto;
    /* border: 2px solid yellow; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  #skills-hours-section-parent {
    margin: auto;
    /* border: 3px solid yellow; */
    margin-top: 2.8rem;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 4rem;
    row-gap: 2rem;
  }
  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 2px solid red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: auto;
  }
  .skills-card {
    max-height: 180px;
  }
  #contact {
    margin: auto;
    width: 90%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  #contact > div {
    width: 100%;
    font-size: 1rem;
  }
  .contact-details-wrapper {
    width: 80%;
    margin: auto;
  }
  .contact-form {
    width: 100%;
  }
  .form-wrapper {
    width: 100%;
    margin: auto;
    margin-left: 0rem;
  }
}

@media (max-width: 260px) {
  .skills-container-card-parent {
    background-color: var(--bg-color);
    /* border: 4px solid red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    /* margin: auto; */
  }
  .skills-card {
    min-height: 240px;
  }
}
